*checkpoint*
*__pycache__*
.env
.venv
*frontend*
.vscode/
products/
reflex*
*notebooks*
kb/old/
kb/Leggi/
*local_test*
cmd_job_deployment.txt
kb/scraping/nt_fisco/output
*.xlsx
kb/scraping/parlamento/selected_leggi_output/
*.pdf